<h1>The Palindrome Detector 9000</h1>
<form action="/reversed">
  <div class="form-group">
    <label for="word">Find out if your word is a palindrome</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Activate the Palindrome Detector 9000(drum roll please...)</button>
</form>
